*{
    list-style: none;

}
.h1{
    text-align: center;
    background-color: cadetblue;
    width: 50%;
    margin:auto;
    margin-top: 20px;

}

.list{
    text-align: center;
}
.box{
    border: 1px solid gray;
    width: 50%;
    margin:auto;
    margin-bottom: 10px;
}